@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 

body{
  color: black;
  font-family: "Ubuntu",Sans-serif;
  overflow-x: hidden;
  font-weight: 600;
}
.navbar{
  padding: 0.8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.2em;
}

.logo{
  height: 50px;
  padding-left: 2em;
}

.navbar-collapse{
  flex-grow: 0;
}

.active,.nav-item:hover, .nav-link:hover{
  color: #E38B29;
}

.bg{
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0)),url("./assets/children.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover ;
  color: white;
}
.content{
  padding-left: 5em;
  padding-top: 4em;
  padding-bottom: 4em;
}

.homeHeading{
  margin-top: 1em;
  margin-bottom: 2em;
}

.homeDesc{
margin-bottom: 1em;
}

.about{
  margin-top: 5em;
  padding-left: 5em;
  padding-right: 5em;
}

.aboutHeading{
  text-align: center;
  color: #3a3a3a;
  font-size: 40px;
}
.step{
  color: #E38B29;
}
.aboutContainer{
  height: 50vh;
  margin-top: 3em;
  display: flex;
  align-items: row;
  background-color: #FDEEDC;
  justify-content: space-around;
  border-radius: 50px
}

.aboutContent{
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.aboutImage{
  padding: 2em;
}

.imageAbout{
  height: 40vh;
  width: 40vh;
  border-radius: 60%;
}

footer{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  background-color: black;
}
.left-footer{
  flex-basis: 50%;
}
.left-footer img{
  padding-bottom: 1.5em;
}
.left-footer a{
  padding-right: 0.8em;
}
.right-footer{
  color: gray;
  flex-basis: 50%;
  text-align: right;
}
.social-media{
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}
footer li{
  list-style: none;
  float: left;
}
footer ul{
  padding-left: 0;
}

.tables > table,tr,td,th{
  border: 1px solid black;
}